body {
  overflow: hidden;
}

* {
	box-sizing: border-box;
}

.track-box {
  position: absolute;
  bottom: 12px;
  left: 12px;
  z-index: 100;
  opacity: 0.5;
  transition: all 200ms ease-in-out;
}

.track-box:hover {
  opacity: 1;
}

.track-box form {
  margin: 0;
  padding: 0;
  border-radius: 5px;
}

.track-box input[type='text'] {
  height: 48px;
  padding: 6px 14px;
  font-size: 18px;
  border: 0;
  border-radius: 5px 0px 0px 5px;
  border: 3px solid #125688;
  margin-right: 0px;
  outline: 0;
}

.track-box input[type='submit'] {
  border: 0;
  outline: 0;
  background: #125688;
  height: 48px;
  padding: 6px 18px;
  padding-right: 20px;
  font-size: 18px;
  color: #fff;
  border-radius: 0px 5px 5px 0px;
  margin-left: -5px;
}

.track-box input[type='submit']:hover {
  
}

.grid {
  height: 100%;
  background: #060606;
}

.item {
  cursor: pointer;
  background-size: cover !important;
  position: absolute;
  width: 20%;
  height: 25%;
}

.item:after {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0.6;
  transition: all 647ms ease-in-out;
}

.item:hover:after {
  opacity: 0;
}

@keyframes fade-out {
    from {opacity: 1;}
    to {opacity: 0;}
}

@keyframes fade-in {
    to {opacity: 1;}
}

.item .info {
  position: absolute;
  z-index: 1000;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  padding-right: 1.1vw;
  padding-top: 0.85vw;
  font-size: 1.2vw;
  text-align: right;
  color: rgb(255,255,255);
  font-weight: bold;
  text-shadow: 0px 0px 8px rgb(0,0,0), 0px 0px 4px rgb(0,0,0), 0px 0px 2px rgb(0,0,0);
  opacity: 0.001;
  transition: all 200ms ease-in-out;
  display: table-cell;
  vertical-align: bottom;
}

.item .info:hover {
  opacity: 1;
}

.item.index_0 {
  top: 0;
  left: 0;
}

.item.index_1 {
  top: 0;
  left: 20%;
}

.item.index_2 {
  top: 0;
  left: 40%;
}

.item.index_3 {
  top: 0;
  left: 60%;
}

.item.index_4 {
  top: 0;
  left: 80%;
}

.item.index_5 {
  top: 25%;
  left: 0;
}

.item.index_6 {
  top: 25%;
  left: 20%;
}

.item.index_7 {
  top: 25%;
  left: 40%;
}

.item.index_8 {
  top: 25%;
  left: 60%;
}

.item.index_9 {
  top: 25%;
  left: 80%;
}

.item.index_10 {
  top: 50%;
  left: 0;
}

.item.index_11 {
  top: 50%;
  left: 20%;
}

.item.index_12 {
  top: 50%;
  left: 40%;
}

.item.index_13 {
  top: 50%;
  left: 60%;
}

.item.index_14 {
  top: 50%;
  left: 80%;
}

.item.index_15 {
  top: 75%;
  left: 0;
}

.item.index_16 {
  top: 75%;
  left: 20%;
}

.item.index_17 {
  top: 75%;
  left: 40%;
}

.item.index_18 {
  top: 75%;
  left: 60%;
}

.item.index_19 {
  top: 75%;
  left: 80%;
}

a:link, a:visited {
  text-decoration: none;
  border: 0;
  outline: 0;
}
